# Arquivo de parâmetros do experimento.

# Complexidade: caso cada iteração do experi
# Repetitions: as repetições são necessárias para as análises estatísticas.
# max_workers: número threads que a tarefa será dividida. de 1 até max_workers
# log_filename: é o nome do arquivo de saída em que o log será gravado

[EXPERIMENT]
complexity = 16000000
repetitions = 10
max_workers = 20
log_filename = benchmark_paralelismo.csv
